.profile {
    display: grid;
    grid-template-columns: fit-content(120px) max-content fit-content(14px) minmax(150px, 1fr);
    grid-template-rows: minmax(128px, 1fr);
    max-width: 100%;
    margin-top: 42px;
    margin-bottom: 18px;
}

@media screen and (max-width: 740px) {
    .profile {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: minmax(120px, 1fr);
        margin-top: 38px;
        margin-bottom: 36px;
        grid-template-areas:
            "avatar avatar"
            "name edit-button"
            "profession profession"
            "add-button add-button";
    }
}

@media screen and (max-width: 320px) {
    .profile {
        grid-template-columns: minmax(120px, 1fr);
    }
}