.profile__profession {
    max-width: 310px;
    padding-bottom: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
    font-style: normal;
    margin: 0;
    text-rendering: optimizeLegibility;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 740px) {
    .profile__profession {
        width: 282px;
        padding: 0;
        font-size: 14px;
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
        grid-area: profession;
    }
}