.header {
    width: calc(100% - 2 * 200px);
    margin: 0 auto;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1090px) {
    .header {
        width: calc(100% - 2 * 100px);
        margin: 0 auto;
    }
}

@media screen and (max-width: 860px) {
    .header {
        width: calc(100% - 2 * 25px);
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .header {
        width: 100%;
        margin: 0;
    }
}