.element {
    border-radius: 4%;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    transition: .6s;
    display: flex;
    flex-direction: column;
}

.element:hover {
    transition: .6s;
    opacity: 0.7;
}